.card {
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: lightgrey;
}

.form-select {
  width: 50%;
  padding: 10px;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.card-position {
  width: 100%;
  height: 300px;
  position: relative;
  top: 150px;
}

img {
  width: 200px;
  height: 140px;
}

.picture_div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.title-div {
  display: flex;
  align-items: center;
}
